@font-face {
  font-family: "PixeloidMono";
  src: url("PixeloidMono.woff") format("woff");
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000;
  max-width: 100%;
  max-height: 100%;
}

#sprites, #textSprites {
  display: none;
  visibility: hidden;
}